// colors

$c-primary: #14FFCA;
$c-grey: #727277;
$c-black: #151515;

$c-error: #F2453D;
$c-success: #4CAF50;

// fonts

$title-font: 'SFUIDisplay', sans-serif;
$text-font: 'SFUIDisplay', sans-serif;
$button-font: 'SFUIDisplay', sans-serif;

// utils

$assetsPath: "/assets";
// $assetsPath: '/themes/itome/assets';


$defaultPixel: 16;

@function em($pixel, $fontSize : $defaultPixel) {
    @return calc($pixel / $fontSize) + em;
}