footer.footer
	.footer__container.container

	

		a.itome(href="https://itome.online/", target="_blank")
			+imgSvg(`${assetsPath}/img/itome-logo.svg`, '', 'image')
			.itome_tooltip
				.itome_tooltip__logo
					+svg('logoCircle', 'svg')
				span.itome_tooltip__title #айтуми
				span.itome_tooltip__subtitle digital production