extends _base/_layout_empty
block settings 

	- title = '404';

block content
	section.not_found
		.not_found__container.container
			a.header__logo(href="/")
				+imgSvg(`${assetsPath}/img/main_logo.svg`, '', 'image')

			.section_block.section_block--center
				h1.section_block__title Сожалеем, но эта #[br.desktop] страница не найдена
				p.section_block__text Скорее всего её больше не существует или был #[br.desktop] введён неверный URL-адрес. 
			
			a.not_found__button.btn.btn--filled(href='/')
				span.btn__text На главную страницу
