extends _base/_layout_empty
block settings 

	- title = 'Error';

block content
	section.not_found
		.not_found__container.container
			a.header__logo(href="/")
				+imgSvg(`${assetsPath}/img/main_logo.svg`, '', 'image')

			.section_block.section_block--center
				h1.section_block__title Что-то пошло #[br.mobile] не так
				p.section_block__text Произошла непредвиденная ошибка. Попробуй перезагрузить страницу. #[br.desktop] Если не поможет, то обратись к этому адресу позже. Возможно идут технические работы.
			
			a.not_found__button.btn.btn--filled(href='/')
				span.btn__text На главную страницу