extends _base/_layout
block settings 

	- title = 'О компании — MOTORWAY';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")
		include _partials/_pages/_about_page/home
		include _partials/_pages/_index_page/bosses
		include _partials/_pages/_about_page/general_info
		include _partials/_pages/_about_page/team
		include _partials/_pages/_about_page/join

	