extends _base/_layout
block settings 

	- title = 'Автомобили из Китая — MOTORWAY';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		include _partials/_pages/_china_page/home
		include _partials/_pages/_china_page/best_offers
		include _partials/_pages/_china_page/find
		include _partials/_pages/_china_page/best_offers_price
		include _partials/_pages/_china_page/selection
		include _partials/_pages/_china_page/advantages
		include _partials/_pages/_about_page/general_info
		include _partials/_pages/_china_page/scheme
		include _partials/_pages/_japan_page/delivery
		include _partials/_pages/_index_page/reviews