extends _base/_layout
block settings 

	- title = 'Контакты — MOTORWAY';


block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.contacts
			.contacts__container.container.container--first 
				
				.section_block.section_block--center

					h1.section_block__title Мы всегда на связи

				.contacts__content
					a.contacts__route_btn.btn.btn--white.btn--icon_left(href="https://yandex.ru/maps/-/CDq27M-L", target="_blank")
						+svg("route", "btn__icon btn__icon--black btn__icon--left")
						span.btn__text Построить маршрут

					.contacts_info
						.contacts_info__wrap
							p.contacts_info__caption Телефон
							a.contacts_info__title.contacts_info__title--link(href="tel:+7 (924) 240-00-77") +7 (924) 240-00-77
						.contacts_info__wrap
							p.contacts_info__caption Электронная почта
							a.contacts_info__title.contacts_info__title--link(href="mailto:motorway-vl@gmail.com") motorwayvl@gmail.com
						.contacts_info__wrap
							p.contacts_info__caption Адрес
							a.contacts_info__title.contacts_info__title--link(href="https://yandex.ru/maps/-/CDq27M-L", target="_blank") Владивосток, Океанский пр. 17 (Фреш Плаза)
						.contacts_info__wrap
							p.contacts_info__caption Режим работы
							a.contacts_info__title Пн-Пт, 12:00-20:00
						
						.contacts_info__wrap
							p.contacts_info__caption Социальные сети
							.contacts_info__line 
								a.contacts_info__socials_link(href="https://t.me/motorway_vl", target="_blank")
									+svg('icon_tg', 'icon')
								a.contacts_info__socials_link(href="https://vk.com/motorwayvl", target="_blank")
									+svg('icon_vk', 'icon')
								a.contacts_info__socials_link(href="https://instagram.com/MOTORWAY_VL", target="_blank")
									+svg('icon_inst', 'icon')
								a.contacts_info__socials_link(href="https://www.youtube.com/@MOTORWAY_VL", target="_blank")
									+svg('icon_yt', 'icon')

						button.contacts_info__btn.btn.btn--filled(data-linked-modal="modal_ask") Задать вопрос

					#contactsMap.contacts__map