extends _base/_layout
block settings 

	- title = 'Вопросы и ответы — MOTORWAY';

mixin faqBlock(title, text)
	.faq_block(data-dropdown-block="")
		button.faq_block__btn(data-dropdown-btn="")
			span.faq_block__title= title 
			<svg class="faq_block__icon" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M9.99963 9.1665C12.2777 9.1665 15.833 9.16661 15.833 9.16661C16.2933 9.16661 16.6663 9.53969 16.6663 9.99994C16.6663 10.4602 16.2933 10.8333 15.833 10.8333H9.99963H4.16634C3.70611 10.8333 3.33301 10.4602 3.33301 9.99994C3.33301 9.53969 3.70611 9.16661 4.16634 9.16661C4.16634 9.16661 7.72159 9.1665 9.99963 9.1665Z" fill="black"/>
				<path class="rotate" fill-rule="evenodd" clip-rule="evenodd" d="M9.16602 10.0004C9.16602 7.72229 9.16612 4.16699 9.16612 4.16699C9.16612 3.70674 9.5392 3.33366 9.99945 3.33366C10.4597 3.33366 10.8328 3.70674 10.8328 4.16699V10.0004V15.8337C10.8328 16.2939 10.4597 16.667 9.99945 16.667C9.5392 16.667 9.16612 16.2939 9.16612 15.8337C9.16612 15.8337 9.16602 12.2784 9.16602 10.0004Z" fill="black"/>
			</svg>
		.faq_block__content
			p.faq_block__text!= text

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.section.faq
			.faq__container.container.container--first 
				
				.section_block.section_block--center

					h1.section_block__title Вопросы и ответы
					p.section_block__text Собрали самые популярные вопросы, которые #[br.mobile] задают наши клиенты. #[br.medium] Возможно, ваш вопрос #[br.mobile] здесь тоже есть. Прочитайте их, чтобы узнать ответ.

				.faq__content
					+faqBlock('Как осуществляется доставка в мой город?', 'Мы отправляем все автомобили с помощью проверенных транспортных компаний, ж/д путем или автовозом. По опыту, хотим добавить, что ж/д доставка является более дорогим способом доставки, но считается самым безопасным методом, для транспортировки вашего автомобиля.')
					+faqBlock('Какие документы я получаю вместе с автомобилем?', 'Если авто оформляется на физическое лицо, вы получаете: Паспорт Транспортного Средства (ПТС), свидетельство о безопасности конструкции транспортного средства (СБКТС), таможенный приходный ордер (ТПО) об уплате таможенной пошлины и утилизационного сбора. Если авто оформляется на юридическое лицо - вы получаете Паспорт Транспортного Средства (ПТС), свидетельство о безопасности конструкции транспортного средства (СБКТС) оригинал или заверенная копия ТПО об уплате утилизационного сбора, заверенная копия ДТ (декларация на товары), договор купли-продажи.')
					+faqBlock('Какие гарантии, что автомобиль приедет целым и невредимым?', 'Компания «MOTORWAY» берет на себя полную ответственность за ваш автомобиль с момента его покупки и до получения его вами лично руки. На всех этапах автомобиль застрахован.')
					+faqBlock('Как заключить договор, если я проживаю в другом городе?', 'Мы заполним двухсторонний договор и отправим его вам в цифровом формате. При необходимости, отправим заказным письмом оригинал договора. Наша команда всегда готова вам помочь.')
					+faqBlock('Будет ли меняться итоговая стоимость автомобиля?', 'Итоговая стоимость автомобиля может меняться в зависимости от различных расходов таких, как фрахт, пошлина и курс валют. Наша компания всегда готова помочь найти наиболее выгодный способ перевода денег за границу.')
					+faqBlock('В чем преимущество автомобиля под заказ?', 'Преимущество автомобиля под заказ в том, что вы можете выбрать конкретную модель, комплектацию и опции, которые соответствуют вашим потребностям и предпочтениям. Это, также, может быть более экономичным решением, поскольку вы не платите за те функции, которые вам не нужны. Кроме того, автомобили под заказ обычно имеют более низкую стоимость страховки и обслуживания, так как они были специально разработаны для определенных рынков.')
					+faqBlock('Есть ли какие-то ограничения по привозу автомобилей?', 'Ограничения, разумеется, присутствуют. Для получения подробной информации оставляйте заявку на нашем сайте, наша команда всегда поможет вам с решением подобных вопросов.')
					+faqBlock('Сколько времени займет весь процесс покупки, до получения авто во Владивостоке?', 'Вопрос максимально индивидуален для каждого клиента, срок доставки авто, после оплаты его за границей, составляет 3-4 недели до Владивостока.')
					