extends _base/_layout
block settings 

	- title = 'MOTORWAY — Автомобили из Японии, Кореи и Китая';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")
		include _partials/_pages/_index_page/home
		include _partials/_pages/_index_page/countries
		include _partials/_pages/_index_page/general_info
		include _partials/_pages/_index_page/youtube
		include _partials/_pages/_index_page/bosses
		include _partials/_pages/_index_page/reviews
	