section.section.join
	.join__container.container 
		.join__content 
			.join__info 
				.join__caption Работа в MOTORWAY

				h2.join__title Хочешь к нам в команду?
				p.join__text В нашей команде работают целеустремлённые и ответственные люди. Если ты хочешь быть одним из нас, готовы предложить лучшие условия для комфортного внедрения в автомобильный бизнес: обучение, много интересных задач и хорошую заработную плату.

				button.join__btn.btn.btn--filled(data-linked-modal="modal_resume") Отправить резюме


			.join__img
				+img(`${assetsPath}/img/join_pic.jpg`, '', 'image')