section.section.team
	.team__container.container 

		.section_block.section_block--center
			h2.section_block__title Наша команда

		.team__slider.slider.swiper 
			.swiper-wrapper
				.team_slide.swiper-slide 
					.team_slide__img
						+img(`${assetsPath}/img/team_pic_1.jpg`, '', 'image')

					.team_slide__info 
						p.team_slide__title Каминский Сергей Иванович
						p.team_slide__text Директор
						a.team_slide__btn.btn.btn--black.btn--icon_right(href="https://wa.me/79952190996", target="_blank")
							span.btn__text Написать в WhatsApp
							+svg("icon_wa", "btn__icon btn__icon--white btn__icon--right")
				
				.team_slide.swiper-slide 
					.team_slide__img
						+img(`${assetsPath}/img/team_pic_2.jpg`, '', 'image')

					.team_slide__info 
						p.team_slide__title Парфентьев Олег Дмитриевич
						p.team_slide__text Директор
						a.team_slide__btn.btn.btn--black.btn--icon_right(href="https://wa.me/79958707707", target="_blank")
							span.btn__text Написать в WhatsApp
							+svg("icon_wa", "btn__icon btn__icon--white btn__icon--right")
				
				.team_slide.swiper-slide 
					.team_slide__img
						+img(`${assetsPath}/img/team_pic_3.jpg`, '', 'image')

					.team_slide__info 
						p.team_slide__title Сухарева Алиса Юрьевна
						p.team_slide__text СММ менеджер
						a.team_slide__btn.btn.disabled.btn--black.btn--icon_right(href="https://wa.me/79242400077", target="_blank")
							span.btn__text Написать в WhatsApp
							+svg("icon_wa", "btn__icon btn__icon--white btn__icon--right")
				
			
			.slider__nav.team__nav
				.slider__buttons.team__nav_buttons
					button.slider__button.slider__button--prev.team__slider_btn--prev
						+svg('arrow_slider')
					button.slider__button.slider__button--next.team__slider_btn--next
						+svg('arrow_slider')