
.container.inputs_container.inputs_container
	.select(data-simlebar="", data-dropdown="", data-dropdown-name="type", data-dropdown-placeholder="Тип сайта", data-dropdown-readonly="true", data-dropdown-options='[{"key":"Лендинг","value":"Лендинг"},{"key":"Корпоративный сайт","value":"Корпоративный сайт"},{"key":"Сайт-приложение","value":"Сайт-приложение"},{"key":"Интернет-магазин","value":"Интернет-магазин"},{"key":"Микро-сайт ","value":"Микро-сайт "},{"key":"Каталог","value":"Каталог"}]')