//- .modal_menu.modal(data-modal="menu")
//-     button.modal_close.modal_menu__close(data-modal-close)
//-         +svg('close', 'icon')
//-     .modal_menu__logo
//-         +imgSvg(`${assetsPath}/img/header-logo.svg`, '', 'image')