$bg-filled: $c-primary;
$borderR: 14px;

$paddingSide: 1.25rem;
$height: 3.5em;

.btn {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: .875rem $paddingSide;
	border-radius: $borderR;
	
	font-family: $button-font;
	font-size: em(18);
	line-height: 1.5rem;
	font-weight: 600;
	font-feature-settings: 'clig' off, 'liga' off;

	transition: all .25s;

	&.disabled {
		opacity: .4;
		pointer-events: none;
	}

	@media(max-width: 1260px) {
		font-size: em(16);
		line-height: em(22,16);

		padding: .75rem em(18);
	}

	&__icon {
		width: 18px;
		height: 18px;

		transition: transform .25s;

		&--white {
			fill: #fff;
		}

		&--black {
			fill: $c-black;
		}

		&--right {
			margin-left: .5rem;
		}

		&--left {
			margin-right: .5rem;
		}
	}

	&--small {
		font-size: em(16);
		line-height: em(20,16);

		padding: em(10) 1em;

		border-radius: 10px;

		&:hover {
			background: #fff !important;
		}
	}

	&--filled {
		color: $c-black;
		background: $bg-filled;

		&:hover {
			background: darken($bg-filled, 10%);           
		}
	}

	&--white {
		color: $c-black;
		background: #fff;

		&:hover {
			background: $c-primary;           
		}
	}

	&--red {
		color: #fff;
		background: #f00;

		&:hover {
			background: darken(#f00, 5%);           
		}
	}

	&--black {
		background: $c-black;
		color: #fff;

		border: 1px solid $c-black;

		&:hover {
			//background: $c-primary;
			background: #fff;
			color: $c-black;           
		}
	}

	&--outlined {
		background: $c-black;
		color: $c-primary;
		border: 1px solid $c-primary;

		&:hover {
			background: $c-primary;
			color: $c-black;           
		}
	}

}