.countries {
	padding-top: em(150);

    @media(max-width: 1260px) {
        padding-top: em(120);
    }

    @media(max-width: 500px) {
        padding-top: em(80);
    }

    &__content {
        margin-top: em(52);

        display: grid;
        grid-template-columns: 100%;
        gap: em(28);

        @media(max-width: 1260px) {
			margin-top: em(40);
            gap: em(20);
		}

		@media(max-width: 500px) {
			margin-top: em(32);
		}
    }
}