.delivery {
	
    &__content {
        border-radius: 28px;
        background: linear-gradient(180deg, #434343 0%, #151515 100%);

        overflow: hidden;
        
        display: grid;
        grid-template-columns: 1fr 1fr;

        position: relative;

        height: em(600);

        @media(max-width: 1260px) {
            border-radius: 24px;
            grid-template-columns: 100%;
            height: em(800);
        }

        @media(max-width: 500px) {
            height: em(570);
            border-radius: 20px;
        }
    }

    &__info {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        padding: em(136) 0;

        position: relative;
        z-index: 2;

        @media(max-width: 1260px) {
            padding: em(60);
        }

        @media(max-width: 500px) {
            padding: em(40) em(20) 0;
        }
    }

    &__title {
        font-size: em(52);
        line-height: em(60,52);
        font-weight: 700;
        font-feature-settings: 'clig' off, 'liga' off;
        color: #fff;

        @media(max-width: 1260px) {
            font-size: em(40);
            line-height: em(46,40);
        }

        @media(max-width: 500px) {
            font-size: em(28);
            line-height: em(34,28);
        }
    }

    &__text {
        font-size: em(18);
        line-height: em(24,18);
        font-weight: 500;
        font-feature-settings: 'clig' off, 'liga' off;
        color: #D4D4D4;

        margin-top: 1.25rem;

        @media(max-width: 1260px) {
            font-size: em(16);
            line-height: em(22,16);

            margin-top: 1rem;
        }

        @media(max-width: 500px) {
            font-size: em(14);
            line-height: 1.25rem;
        }
    }

    &__btn {
        margin-top: 2.5rem;

        width: 21.25rem;

        @media(max-width: 1260px) {
            margin-top: 2rem;
            width: fit-content;
        }

        @media(max-width: 500px) {
            width: 100%;
        }
    }

    &__img {
        position: absolute;
        z-index: 1;

        height: 100%;
        width: em(816);
        right: -2px;
        bottom: -2px;

        @media(max-width: 1260px) {
            width: em(645);
            height: em(474);
        }

        @media(max-width: 500px) {
            width: 100%;
            height: auto;
        }
    }
}