.home {
	height: 100vh;
    min-height: em(774);
    background: $c-black;
    
    position: relative;
    overflow: hidden;

    @media(max-width: 1260px) {
        min-height: em(952);
    }

    @media(max-width: 500px) {
        min-height: em(760);
    }

    &--about {
        background: #000;

        @media(max-width: 500px) {
            min-height: em(850);
        }
    }

    &__container {
        justify-content: space-between;

        height: 100%;
        padding-top: em(188);
        padding-bottom: em(40);

        position: relative;
        z-index: 2;

        @media(max-width: 1260px) {
            padding-top: em(132);
            padding-bottom: em(40);
        }

        @media(max-width: 500px) {
            padding-top: em(100);
            padding-bottom: em(28);
        }
    }

    &__img {
        position: absolute;
        z-index: 1;

        &--china {
            width: 80vw;
            height: 70vh;

            bottom: em(140);
            right: em(-500);

            @media(max-width: 1260px) {
                bottom: em(150);
                right: em(-360);

                width: em(1062);
                height: em(494);
            }

            @media(max-width: 500px) {
                width: em(496);
                height: em(230);

                bottom: em(180);
                right: em(-160);
            }
        }

        &--korea {
            width: 80vw;
            height: 78vh;

            bottom: em(80);
            right: em(-400);

            @media(max-width: 1260px) {
                bottom: em(80);
                right: em(-240);

                width: em(1026);
                height: em(548);
            }

            @media(max-width: 500px) {
                width: em(478);
                height: em(254);

                bottom: em(150);
                right: em(-100);
            }
        }

        &--japan {
            width: 100vw;
            height: 90vh;

            bottom: em(80);
            right: em(-500);

            @media(max-width: 1260px) {
                bottom: em(156);
                right: em(-300);

                width: em(1096);
                height: em(618);
            }

            @media(max-width: 500px) {
                width: em(522);
                height: em(294);

                bottom: em(150);
                right: em(-124);
            }
        }

        &--main {
            width: 55vw;
            height: 60vh;

            bottom: em(126);
            right: em(-126);

            @media(max-width: 1260px) {
                bottom: em(136);
                right: em(-156);

                width: 90vw;
                height: 86vh;
            }

            @media(max-width: 500px) {
                width: em(524);
                height: em(294);

                bottom: em(130);
                right: em(-86);
            }
        }

        &--about {
            width: 105vw;
            height: 110vh;

            bottom: -2px;
            right: em(-60);

            @media(max-width: 1260px) {
                width: 150vw;
                min-height: em(800);
                height: 80vh;
                bottom: -2px;
                right: em(-60);
            }

            @media(max-width: 500px) {
                width: em(896);
                height: em(500);
                min-height: fit-content;

                bottom: em(140);
                right: em(-128);
            }
        }
    }

    &__table {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: em(28);

        @media(max-width: 1260px) {
            grid-template-columns: repeat(3, em(380));
            gap: em(20);

            overflow: scroll;

            scrollbar-width: none;
            -webkit-scrollbar-width: none;

            &::-webkit-scrollbar {
            	height: 0px;
            	width: 0px;
            	background: transparent;
            }
        }

        @media(max-width: 500px) {
            grid-template-columns: repeat(3, em(280));
            gap: em(16);
        }

        &--about {

            @media(max-width: 500px) {
                grid-template-columns: 100%;
                gap: em(12);
                overflow: auto;
            }
        }
    }
}