$paddingSide: 16px;
$paddingTop: 1em;
$width: 100%;
$height: em(52);
$bg-color: white;
$border-r: 8px; 
$bg-color-main: #eeeded;
$bg-color-error: #FBE4E3;

.input_wrapper {
	position: relative;

	display: flex;
	flex-direction: column;

	width: $width;
	height: $height;

	box-shadow: none;

	&--textarea {
		height: em(100);

		@media(max-width: 1260px) {
			height: em(68);
		}

		@media(max-width: 500px) {
			height: em(64);
		}
	}

	&--filled {

		.input_wrapper__input:focus + .input_wrapper__label,
		.input_wrapper__input.is-filled + .input_wrapper__label {
			transform: translate3d(-10%, -120%, 0) scale(.8);
		}

	}

	&--minimalistic {

		.input_wrapper__input:focus + .input_wrapper__label,
		.input_wrapper__input.is-filled + .input_wrapper__label {
			//transform: translate3d(-6%, calc(-2em - 30%), 0) scale(.9);

			opacity: 0;
		}

		.input_wrapper__input.is-filled {
			border-bottom: 1px solid $c-black;
		}

	}

	// &--minimalistic {

	// 	.input_wrapper__input:focus + .input_wrapper__label,
	// 	.input_wrapper__input.is-filled + .input_wrapper__label {
	// 		transform: translate3d(-6%, calc(-2em - 30%), 0) scale(.9);
	// 	}   

	// }

	&__input {
		height: 100%;
		width: 100%;

		padding: $paddingTop $paddingSide;
		border: 0 solid transparent;
		border-radius: $border-r;

		font-size: em(18);
		line-height: 1.5rem;
		color: $c-black;

		background: $bg-color;
		box-shadow: none;

		

		.input_wrapper--filled & {
			padding: 1.5em $paddingSide .5em;

			background: white;
		}

		.input_wrapper--outlined & {
			background: white;
		}

		.input_wrapper--minimalistic & {
			padding: .875rem 0;
			border-bottom: 1px solid $c-grey;
			border-radius: 0;

			background: transparent;

			@media(max-width: 1260px) {
				font-size: em(16);
				line-height: em(22,16);

				padding: .75rem 0;
			}

			@media(max-width: 500px) {
				font-size: em(14);
				line-height: 1.25rem;
			}
		}

		.black & {
			border-bottom: 1px solid $c-black;
		}

		.input_wrapper--filled.not-valid & {
			background: black;
			background: $bg-color-error;
		}

		.input_wrapper--outlined.not-valid & {
			background: $bg-color-main;
			box-shadow: inset 0 0 0 1px $c-error;
		}
			
		.input_wrapper--minimalistic.not-valid & {
			border-bottom: 1px solid $c-error;
		}
		
	}

	&__label {
		position: absolute;
		top: 50%;

		font-weight: 400;

		font-size: em(18);
		line-height: 1.5rem;

		box-shadow: none;

		transform: translate3d(0, -50%, 0);

		transition: transform .25s, opacity .25s;

		pointer-events: none;
        
		.input_wrapper--filled & {
			left: $paddingSide;
		}

		.input_wrapper--outlined & {
			left: $paddingSide;
		}

		.input_wrapper--minimalistic & {
			left: 0;
			color: $c-grey;
		}

		.black & {
			color: $c-black;
		}

		.input_wrapper--filled.not-valid & {
			transform: translate3d(-10%, -120%, 0) scale(.8);
		}

		.input_wrapper--outlined.not-valid & {
			color: $c-error;

			background: $bg-color-main;
			transform: translate3d(-6%, calc(-2em - 30%), 0) scale(.9);
		}
			
		.input_wrapper--minimalistic.not-valid & {
			color: $c-error;
		}
	}

	&__tooltip {
		position: absolute;
		bottom: 0;
		left: 0;

		color: $c-error;
		font-weight: 300;
		font-size: .75em;

		transform: translate3d(0, 150%, 0);

		opacity: 0;

		transition: opacity .25s;

		.input_wrapper--filled & {
			left: $paddingSide;
		}

		.input_wrapper--outlined & {
			left: $paddingSide;
		}

		.input_wrapper--minimalistic & {
			left: 0;
		}

		.not-valid & {
			opacity: 1;
			display: none;
		}
	}

	&__textarea {
		width: 100%;
		height: 100%;
		padding: .875rem 0;
		background: #fff;
		border: 1px solid $c-grey;
		color: $c-black;
		font-weight: 400;
		font-size: em(18);
		line-height: em(24,18);
		font-family: $text-font;
		resize: none;

		@media(max-width: 1260px) {
			font-size: em(16);
			line-height: em(22,16);

			padding: .75rem 0;
		}

		@media(max-width: 500px) {
			font-size: em(14);
			line-height: 1.25rem;
		}

		&::placeholder {
			color: $c-grey;
		}
	}
}


