.modal_menu {
	position: absolute;
	width: 100vw;
	height: 100vh;
	right: 0;
	top: 0;

	background: $c-black;
	padding: em(52) em(32) em(28);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;

	opacity: 0;
	pointer-events: none;
	transform: translate3d(5em,0,0);
	transition: transform .5s, opacity .5s;

	@media(max-width: 500px) {
		padding: em(32) em(20) em(20);
	}

	&.is-active {
		transform:  translate3d(0, 0, 0);
		opacity: 1;
		pointer-events: all;
	}

	&__close {
		width: 32px;
		height: 32px;

		padding: 0;

		position: absolute;
		top: 2rem;
		right: 2rem;

		@media(max-width: 500px) {
			width: 24px;
			height: 24px;

			top: em(20);
			right: em(20);
		}

		&:hover {
			.icon {
				fill: $c-primary;
			}
		}

		.icon {
			width: 100%;
			height: 100%;

			fill: #fff;

			transition: fill .2s;
		}
	}

	&__content {
		width: 100%;

		height: calc(100% - 2em);

		@media(max-width: 500px) {

			height: calc(100% - em(48));
		}

		.simplebar-track.simplebar-vertical {
			visibility: visible;
			opacity: 1;
			width: 2px;
			background: #EBEBEB;

			right: -1em;

			@media(max-width: 500px) {
				right: -.75rem;
			}

			.simplebar-scrollbar {
				background: $c-primary;
			}
		}
	}

	&__block {
		display: flex;
		flex-direction: column;

		& + & {
			margin-top: em(40);

			@media(max-width: 500px) {
				margin-top: em(32);
			}
		}
	}

	&__title {
		font-family: $title-font;
		font-weight: 700;
		font-size: em(40);
		line-height: em(46,40);
		font-feature-settings: 'clig' off, 'liga' off;
		color: #fff;

		margin-bottom: 1.75rem;

		@media(max-width: 500px) {
			font-size: em(28);
			line-height: em(34,28);

			margin-bottom: 1.25rem;
		}
	}

	&__buttons {
		width: 100%;

		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: em(20);

		margin-top: em(52);

		@media(max-width: 500px) {
			margin-top: em(40);

			grid-template-columns: 100%;
			gap: 1rem;
		}
	}

	&__bottom {
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		padding-top: em(28);

		margin-top: auto;

		@media(max-width: 500px) {
			padding-top: em(20);
		}
	}

	&__itome {
		width: em(180);
		height: em(20);

		display: block;

		transition: opacity .2s;

		&:hover {
			opacity: .8;
		}
	}
}