.reviews_slide {
	border-radius: 28px;
    background: #FFF;	

    padding: em(12);

    height: auto;

    display: flex;
    flex-direction: column;

    @media(max-width: 1260px) {
        border-radius: 24px;
    }

    @media(max-width: 500px) {
        border-radius: 20px;
    }

    &__img {
        width: 100%;
        height: em(268);

        border-radius: 20px;
        overflow: hidden;

        .image {
            object-fit: cover;
        }

        @media(max-width: 1260px) {
            border-radius: 18px;
            height: em(208);
        }

        @media(max-width: 500px) {
            height: em(194);
            border-radius: 16px;
        }
    }

    &__info {
        width: 100%;
        margin-top: em(20);

        padding: 0 1rem 1rem;

        display: flex;
        flex-direction: column;
        flex: 1;

        @media(max-width: 1260px) {
            padding: 0 .5rem .5rem;
        }

        @media(max-width: 500px) {
            margin-top: 1rem;
        }
    }

    &__top {
        width: 100%;

        display: grid;
        grid-template-columns: auto auto;
        gap: 4px;

        margin-bottom: 1rem;
    }

    &__title {
        font-size: em(20);
        line-height: em(26,20);
        font-weight: 700;
        font-feature-settings: 'clig' off, 'liga' off;
        color: $c-black;

        @media(max-width: 1260px) {
            font-size: em(18);
            line-height: em(24,18);
        }

        @media(max-width: 500px) {
            font-size: em(16);
            line-height: em(22,16);
        }
    }

    &__text {
        font-size: em(16);
        line-height: em(20,16);
        font-weight: 400;
        font-feature-settings: 'clig' off, 'liga' off;
        color: $c-grey;

        @media(max-width: 1260px) {
            font-size: em(14);
            line-height: em(18,14);
        }

        @media(max-width: 500px) {
            font-size: em(12);
            line-height: 1rem;
        }

        &--date {
            margin-left: auto;
        }

        &--link {
            transition: color .2s;
            font-weight: 500;

            display: block;
            width: fit-content;

            margin-top: auto;

            &:hover {
                color: $c-primary;
            }
        }

        &--main {
            color: $c-black;
            font-size: em(18);
            line-height: em(24,18);
            font-weight: 500;

            margin-bottom: .75rem;

            @media(max-width: 1260px) {
                font-size: em(16);
                line-height: em(22,16);
            }
    
            @media(max-width: 500px) {
                font-size: em(14);
                line-height: 1.25rem;
            }
        }
    }

    &__stars {
        width: em(108);
        height: em(20);

        margin-left: auto;

        @media(max-width: 1260px) {
            width: em(88);
            height: em(16);
        }

        @media(max-width: 1260px) {
            width: em(78);
            height: em(14);
        }
    }
}