.section_block {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&--center {
		align-items: center;
		text-align: center;
		justify-content: center;
		width: 100%;

		position: relative;
		z-index: 2;
	}

	&__title {
		font-family: $title-font;
		font-size: em(60);
		line-height: em(64,60);
		font-weight: 700;
		color: $c-black;
		font-feature-settings: 'clig' off, 'liga' off;

		@media(max-width: 1260px) {
			font-size: em(40);
			line-height: em(46,40);
		}

		@media(max-width: 500px) {
			font-size: em(28);
			line-height: em(34,28);
		}

		&--white {
			color: #fff;
		}

		.color {
			color: $c-primary;
		}

		.home & {

			@media(max-width: 1260px) {
				font-size: em(52);
				line-height: em(60,52);
			}

			@media(max-width: 500px) {
				font-size: em(36);
				line-height: em(42,36);
			}
		}
	}

	&__text {
		font-family: $text-font;
		font-weight: 400;
		font-size: em(20);
		line-height: em(26,20);
		color: $c-grey;
		font-feature-settings: 'clig' off, 'liga' off;

		margin-top: 1em;

		@media(max-width: 1260px) {
			font-size: em(18);
			line-height: em(24,18);
		}

		@media(max-width: 500px) {
			font-size: em(14);
			line-height: 1.25rem;
		}

		&--white {
			color: #fff;
		}


		.home & {
			margin-top: em(28,20);

			@media(max-width: 1260px) {
				font-size: em(16);
				line-height: em(22,16);
			}

			@media(max-width: 500px) {
				font-size: em(14);
				line-height: 1.25rem;
			}
		}

		& + & {
			margin-top: em(10);
		}
	}

	&__btn {
		margin-top: 2rem;

		@media(max-width: 1260px) {
			margin-top: 1.75rem;
		}

		@media(max-width: 500px) {
			width: 100%;
			margin-top: 1.25rem;
		}
	}
}