.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    @media(max-width: 500px) {
        // overflow: visible;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        
        margin-top: em(32);
        width: 100%;

        @media(max-width: 1260px) {
            margin-top: em(28);
        }

        @media(max-width: 500px) {
            flex-direction: column;
        }

        &.grid {
            display: grid;
            grid-template-columns: 1fr em(90) 1fr;
            justify-content: initial;

            @media(max-width: 500px) {
                display: flex;
            }
        }

        .dot {
            width: 24px;
            height: 24px;
            opacity: 0;
            pointer-events: none;

            @media(max-width: 500px) {
                display: none;
            }
        }
    }

    &__buttons {
        display: flex;
        justify-content: center;

        @media(max-width: 500px) {
            margin-bottom: em(20);
        }
    }

    &__button {
        width: 40px;
        height: 40px;
        padding: 0;

        border-radius: 10px;
        background: $c-black;

        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;

        transition: background .2s, opacity .2s;

        @media(max-width: 1260px) {
			width: 36px;
			height: 36px;
		}

        @media(max-width: 500px) {
            width: 32px;
            height: 32px;
        }

        &--prev {
            transform: scaleX(-1);
        }

        &:hover {
            background: $c-primary;

            svg {
                fill: $c-black;
            }
        }

        svg {
            width: 16px;
            height: 16px;
            fill: #fff;
            transition: fill .2s;

            @media(max-width: 500px) {
                width: 14px;
                height: 14px;
            }
        }

        &.swiper-button-lock {
            display: none;
        }

        &.swiper-button-disabled {
            pointer-events: none;
            opacity: .8;
        }

        & + & {
            margin-left: .5rem;

            svg {
                // transform: scaleX(-1);
            }
        }
    }
}