@import "_includes/_reset";

@import "_includes/_globals";

@import "_includes/_fonts";

@import "_includes/_bundle";

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	background: #F5F5F7;

	@media(max-width: 500px) {
		overflow-x: hidden;
		position: relative;
	}
}

body {
	font-size: 1em;

	opacity: 0;

	transition: opacity 0s;

	&.on-loaded {
		transition: opacity .2s;

		opacity: 1;
	}

	@media(max-width: 500px) {
		overflow-x: hidden;
		position: relative;
	}
}

.content {
	opacity: 0;

	body.disabled & {
		opacity: 1;
	}
}

// scrollbar-width: none;
// -webkit-scrollbar-width: none;

// &::-webkit-scrollbar {
// 	height: 0px;
// 	width: 0px;
// 	background: transparent;
// }

button,
a {
	transition: color .2s, background .2s; 
}

input,
textarea {
	-webkit-appearance: none;
}

img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

br.desktop {

	@media(max-width: 1260px) {
		display: none;
	}
}

br.tablet {
	display: none;

	@media(max-width: 1260px) {
		display: initial;
	}

	@media(max-width: 500px) {
		display: none;
	}
}

br.medium {

	@media(max-width: 500px) {
		display: none;
	}
}

br.mobile {
	display: none;

	@media(max-width: 500px) {
		display: initial;
	}
}

[data-lazy] {
	opacity: 0;

	transition: opacity .125s;

	&.loaded {
		opacity: 1;
	}
}

[data-scroll-fadeup] {
	transform: translate3d(0, 3rem, 0);
	opacity: 0;

	transition: transform .5s, opacity .5s;

	will-change: transform, opacity;

	&.is-inview {
		transform: translate3d(0, 0 ,0);
		opacity: 1;
	}
}


[data-scroll-fadeup] .highlighted_text {
	color: black;

	transition: color .3s .15s;
	
}

[data-scroll-fadeup].is-inview .highlighted_text {
	color: $c-primary;
}

[data-scroll-fadedown] {
	transform: translate3d(0, -5rem, 0);
	opacity: 0;

	transition: transform .5s .25s, opacity .5s .25s;

	will-change: transform, opacity;

	&.is-inview {
		transform: translate3d(0, 0 ,0);
		opacity: 1;
	}
}



@import "_blocks/container";

@import "_blocks/input_wrapper";

@import "_blocks/btn";

@import "_blocks/multi_select";

@import "_blocks/section";

@import "_blocks/section_block";

@import "_blocks/privacy";

@import "_blocks/modal";

@import "_blocks/modals";

@import "_blocks/modal_close";

@import "_blocks/modal_form";

@import "_blocks/modal_menu";

@import "_blocks/itome";

@import "_blocks/not_found";

@import "_blocks/preloader";

@import "_blocks/slider";

@import "_blocks/slider_gallery";

@import "_blocks/footer";

@import "_blocks/footer_form";

@import "_blocks/header";

@import "_blocks/home_table_block";

@import "_blocks/home";

@import "_blocks/countries_card";

@import "_blocks/countries";

@import "_blocks/bosses";

@import "_blocks/general_info_slide";

@import "_blocks/general_info";

@import "_blocks/reviews";

@import "_blocks/reviews_slide";

@import "_blocks/youtube";

@import "_blocks/youtube_block";

@import "_blocks/contacts_info";

@import "_blocks/contacts";

@import "_blocks/faq_block";

@import "_blocks/faq";

@import "_blocks/team";

@import "_blocks/team_slide";

@import "_blocks/join";

@import "_blocks/home_resp_block";

@import "_blocks/home_infinite_slider";

@import "_blocks/best_offers";

@import "_blocks/best_offers_slide";

@import "_blocks/advantages_slide";

@import "_blocks/advantages";
